<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cli-manage | Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="css/customize.css">
</head>
<body>
    
    <div class="ui grid container">
        <div class="three column row">
            <div class="column"></div>
            <div class="column">
                <form class="ui form lgn">
                    <div class="field usr transparent">
                      <label>Username</label>
                      <input type="text" name="login" placeholder="Username">
                    </div>
                  </br>
                    <div class="field">
                      <label>Password</label>
                      <input type="password" name="pass" placeholder="Password">
                    </div>
                    <a href="signup">create account</a></br>
                    <button class="ui green button" type="submit"><i class="sign-in icon"></i> login</button>
                </form>
            </div>
            <div class="column"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>